<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Админ меню</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
        <a href="/" class="admin-btn">Главная</a>
        <h1>Админ меню</h1>
        <div style="width: 90px;"></div>
    </div>
</header>

<div class="container">
    <div class="admin_menu">
        <a href="/admin/users">Пользователи</a>
<!--        <a href="/admin/roles">Роли</a>-->
        <a href="/admin/passports">Паспорта</a>
        <a href="/admin/ticket-statuses">Статусы билетов</a>
        <a href="/admin/payment-statuses">Статусы платежей</a>
        <a href="/admin/tickets">Билеты</a>
        <a href="/admin/payments">Платежи</a>
        <a href="/admin/reviews">Отзывы</a>
        <a href="/admin/routes">Маршруты</a>
        <a href="/admin/route-stations">Станции маршрутов</a>
        <a href="/admin/schedules">Расписания</a>
        <a href="/admin/stations">Станции</a>
        <a href="/admin/trains">Поезда</a>
    </div>
</div>
</body>
</html>